@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-image: url('https://t4.ftcdn.net/jpg/02/10/45/95/360_F_210459536_XmLDEcKq2DpeNLVmheuWeu9NM9aGKnih.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 97vh;
  background-size: cover;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.navbar {
  width: 100%;
  height: 70px;
  background-color: #3bb19b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

.white_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 80vh;
  /* border: 1px solid black; */
  flex-direction: column;
  text-align: center;
  color: rgb(27, 27, 27);
}
